/* login page css */
html {
	overflow: hidden;
	height: 100%;
}

body {
	height: 100%;
	overflow: auto;
}

.panel-heading {
	padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

/* .backgroundImage */
/* { */
/*     background-image: url("Login.jpg"); */
/*     background-size: cover; */
/*     padding: 0; */
/*     margin: 0; */
/* } */
div.fadeMe {
	opacity: 1.0;
	background: #000;
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 0;
	left: 0;
	position: fixed;
	/*   background-image: url("/images/Login.jpg"); */
	background: url("/images/Login.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.profile-img {
	width: 234px;
	height: 50px;
	margin: 0 auto 10px;
	display: block;
	margin-bottom: 60px
}

.headTitle {
	font-size: 14px;
	text-align: center;
	margin-top: -56px;
}

.accountPosition {
	margin-top: 20px;
	margin-right: 20px
}

.navbar-nav.navbar-right:last-child {
	margin-right: 200px;
}

.formPage {
	margin-top: 60px;
}

.titleFont {
	font-weight: 600;
	color: darkblue;
}

/* manager screen 2 css */
body {
	padding-top: 50px;
}

.shape {
	border-style: solid;
	border-width: 0 70px 40px 0;
	float: right;
	height: 0px;
	width: 0px;
	-ms-transform: rotate(360deg); /* IE 9 */
	-o-transform: rotate(360deg); /* Opera 10.5 */
	-webkit-transform: rotate(360deg); /* Safari and Chrome */
	transform: rotate(360deg);
}

.offer {
	background: #fff;
	border: 1px solid #ddd;
	margin: 15px 0;
	overflow: hidden;
}
.offer1 {
	background: none;
	border: 1px solid #ddd;
	margin: 15px 0;
	overflow: hidden;
}

.offerWidth
{
	width:20px;
}
.offer:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: rotate scale(1.1);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.shape {
	border-color: rgba(255, 255, 255, 0) #d9534f rgba(255, 255, 255, 0)
		rgba(255, 255, 255, 0);
}

.offer-radius {
	border-radius: 7px;
}

.offer-danger {
	border-color: #d9534f;
}

.offer-danger .shape {
	border-color: transparent #d9534f transparent transparent;
}

.offer-success {
	border-color: #5cb85c;
}

.offer-success .shape {
	border-color: transparent #5cb85c transparent transparent;
}

.offer-default {
	border-color: #999999;
}

.offer-default .shape {
	border-color: transparent #999999 transparent transparent;
}

.offer-primary {
	border-color: #428bca;
}

.offer-primary .shape {
	border-color: transparent #428bca transparent transparent;
}

.offer-info {
	border-color: #5bc0de;
}

.offer-info .shape {
	border-color: transparent #5bc0de transparent transparent;
}

.offer-warning {
	border-color: #f0ad4e;
}

.offer-warning .shape {
	border-color: transparent #f0ad4e transparent transparent;
}

.shape-text {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	right: -40px;
	top: 2px;
	white-space: nowrap;
	-ms-transform: rotate(30deg); /* IE 9 */
	-o-transform: rotate(360deg); /* Opera 10.5 */
	-webkit-transform: rotate(30deg); /* Safari and Chrome */
	transform: rotate(30deg);
}

.offer-content {
	padding: 0 20px 10px;
}

@media ( min-width : 487px) {
	.container {
		max-width: 750px;
	}
	.col-sm-6 {
		width: 50%;
	}
}

@media ( min-width : 900px) {
	.container {
		max-width: 970px;
	}
	.col-md-4 {
		width: 33.33333333333333%;
	}
}

@media ( min-width : 1200px) {
	.container {
		max-width: 1170px;
	}
	.col-lg-2 {
		width: 20%;
	}
}

.jumbotron {
	margin: 0 auto;
	width: 78%;
	margin-top: 20px;
}

.offer {
	margin: 0 auto;
}

}
.alignCenter {
	margin: 0 auto;
}

.jumbotron p {
	margin-bottom: 0px;
	font-size: 65px;
	font-family: "Courier New";
	font-weight: normal;
}

.spaceButton {
	margin-top: 25px;
	width: 100px;
	background-color: DarkBlue background-color: #265a88;
	border-color: darkblue;
	height: 39px;
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	margin-top: 17px;
	margin-right: 81px;
}

.btn-sq-sm {
	width: 65px !important;
	height: 55px !important;
	font-size: 13px;
	border-radius: 6px;
	border-color: #cdd1d6;
	text-align: center;
	margin-top: 65px;
	margin-left: 5px;
	margin-right: 15px
}

.modalSize {
	width: 1000px;
	margin-left: 50px;
}

.monthStyle {
	width: 40px !important;
	height: 39px !important;
	font-size: 8px;
	border-radius: 6px;
	border-color: darkBlue;
	text-align: center;
	margin-top: 65px;
	margin-left: 5px;
	margin-right: 15px;
}

.userLogoStyle {
	margin-top: -30px;
	margin-left: 700px;
}

.btn-sq-sm:focus {
	background-color: DarkBlue;
	color: white;
}

.monthModalStyle {
	width: 1000px;
}

element.style {
	
}

.monthOffer {
	margin-top: -19px;
	width: 195px;
	height: 86px;
}

.btn-sq-sm:active {
	background-color: DarkBlue;
	color: white;
}

.titleNav {
	text-align: left;
	margin-bottom: 20px;
	margin-top: -30px;
	margin-left: 80px;
	color: #002b80;
}

.monthTitle {
	text-align: left;
	margin-bottom: -53px;
	margin-top: 20px;
	margin-left: 42px;
	color: black;
}

.ridge {
	border-style: ridge;
	background-color: white
}

.topHeader {
	height: 130px
}

.heaader1 {
	height: 60px;
}

.navbar-static-top {
	width: 100%;
	height: 90px;
	background-color: DarkBlue
}

.profile-image {
	height: 49px;
	margin-left: 191px;
}

.round {
	display: inline-block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #222;
	color: #FFF;
	text-align: center;
}

.monthDiv {
	margin-top: 30px
}

/* month modal css style */
.monthDivModal {
	margin-left: -32px;
	margin-top: 30px;
	width: 100%;
}

.btn-sq-md {
	width: 40px !important;
	height: 40px !important;
	font-size: 9px;
	border-radius: 4px;
	border-color: #cdd1d6;
	text-align: center;
	margin-top: 16px;
	margin-left: 42px;
	margin-right: 0;
}

#monthModal {
	width: 100%;
	height: auto;
	/* margin-right: 32px; */
	padding-right: 146%;
}

.btn-sq-md:focus {
	background-color: DarkBlue;
	color: white;
}

.historyModalWidth {
	width: 98%;
	height: 80%
}
/* .modal-dialog { */
/* width: 294px; */
/* margin: 215px auto; */
/* } */
.searchStyle {
	position: relative;
	display: table;
	border-collapse: separate;
	width: 20%;
	margin-bottom: 20px;
	margin-left: 11px;
}

.btn-sq-md:active {
	background-color: DarkBlue;
	color: white;
}

.btn-sq-md {
	
}

.round.round-lg {
	height: 34Px;
	width: 34px;
	line-height: 40px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-size: 1.5em;
	margin-right: 180px;
	margin-top: 3px
}

.round.blue {
	background-color: #ced5e0;
}

.navbar-header {
	width: 1030px
}

.mtext {
	margin-top: 12px;
	margin-right: 30px
}

.selectstyle {
	margin-left: 16px;
	margin-top: 20px
}

.addProjectStyle {
	margin-top: 10px;
	color: white
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
	color: whitesmoke !important;
	background: #bf5279 !important;
	color: darkblue;
}

/*  superadmin */
.box {
	border-radius: 2px;
}

.bootstrap-select .btn {
	background-color: #c8cace;
	border-style: solid;
	border-left-width: 3px;
	border-left-color: #00DDDD;
	border-top: none;
	border-bottom: none;
	border-right: none;
	color: white;
	font-weight: 200;
	padding: 12px 12px;
	font-size: 16px;
	margin-bottom: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.bootstrap-select .dropdown-menu {
	margin: 5px 0 0;
}

select::-ms-expand {
	/* for IE 11 */ di
	
}

.selectboxMargin {
	margin-top: 170px;
}

/* textarea styles */
.textarea {
	margin: 0 auto;
	width: 100%;
	margin-top: 20px;
}

.textarea.form-control {
	height: auto;
	width: 79%;
}

.vis {
	display: block;
}

.textFeildSize {
	outline: none;
	border: none;
	width: 100%;
	  font-size: 55px;
	   text-align: center;
	
}

.selectStyle {
	text-transform: none;
	height: 31px;
	border-radius: 5px;
	background-color: #ffffff;
	border-color: white;
	width: 20%;
	color: #000099;
	font-family: Arial, Calibri, Tahoma, Verdana;
}

option {
	color: black;
}

.glyphicon-log-out {
	margin-top: 20px;
}

.projectTitle {
	margin-left: 100px
}

.errmsg {
	width: 250px
}

.saveMsg {
	width: 250px
}

.active1 {
	background: lightblue;
}

.active2 {
	background-color: DarkBlue;
	color: white;
}

table css



.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th,
	.table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td,
	.table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
	padding: 15px;
}

.table-responsive {
	min-height: .01%;
	overflow-x: auto;
	width: 98%;
	margin-left: 1%;
}

/* forward style */
.forwardIcon {
	margin-left: 137px;
	margin-top: -48px;
}



.col-lg-2 {
width: 16%;
}

/* Starts here */
.pln {
	padding-left: 0px;
}

.container {
	margin-top: 30px;
	margin-bottom: 30px;
}

.vl-bold {
	font-weight: bold;	
}

.mlm {
	margin-left: 30px;
}

.page-container {
	padding-top: 3em;
    padding-bottom: 3em;
    border: solid 1px darkgrey;  
}
.hmn {
	margin-left: 0px;
	margin-right: 0px;
}
.wrapper {
	padding-top: 3em;
    padding-bottom: 3em;
}
.ptl {
	padding-top: 2em;
}

.ptm {
	padding-top: 1em;
}
.noticePeriodTable{
    margin-top: 35px;
    margin-bottom: 35px;
}