
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Notice Period Tool</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style>
 body {
  margin: 2em;
}
div.static {
  background: #e0f2f7;
  position: absolute;
  bottom: 0;
  width: 100%;: absolute;
  right: 0;
}
</style>

</head>
<body>


	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<div class="navbar-header">
				<img class="profile-image" src="images/valuelabsLogo.png" alt="">
				<b
					style="padding-left: 15px; border-left: 1px solid #ccc; font-size: 19px">
					EXIT POLICY UPDATE</b>
			</div>
		</div>		
	</nav>	
<div class = "container-fluid">
<a href="#" ng-click="goBack()">Back</a>
 <div class="list-group">
     <!--  paginator starts here -->
	<div role="main" class="container theme-showcase" style="width:100%; margin:0 auto;">
      <div class="" style="margin-top:10px;">
        <div >
			<div class="page-header">
				<h4 id="tables">List of Employee Details:</h4>
			</div>
			<div class="bs-component">
			<!-- 	<div class="alert alert-info">
					<p>Sort key: {{sortKey}}</p>
					<p>Reverse: {{reverse}}</p>
					<p>Search String : {{search}}</p>
				</div> -->
				<form class="form-inline">
					<div class="form-group">
						<label >Search</label>
						<input type="text" ng-model="search" class="form-control" placeholder="Search">
					</div>
				</form>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th ng-click="sort('employeeId')">Employee Id
								<span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('employeeFirstName')">First Name
								<span class="glyphicon sort-icon" ng-show="sortKey=='first_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th width="250px" ng-click="sort('employeeDOJ')">Employee DOJ
								<span class="glyphicon sort-icon" ng-show="sortKey=='last_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('employeeEmailID')">Email ID
								<span class="glyphicon sort-icon" ng-show="sortKey=='hobby'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('employeeEntity')">Entity ID
								<span class="glyphicon sort-icon" ng-show="sortKey=='hobby'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="user in acceptedUsers|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
							<td>{{user.employeeId}}</td>
							<td>{{user.employeeFirstName+" "+user.employeeLastName}}</td>
							<td>{{user.employeeDOJ}}</td>
							<td>{{user.employeeEmailID}}</td>
							<td>{{user.employeeEntity}}</td>
							<td><a ng-href="eAccept/download/{{user.employeeUserName}}" download>Download PDF</a></td>
						</tr>
					</tbody>
				</table> 
				<dir-pagination-controls
					max-size="10"
					direction-links="true"
					boundary-links="true" >
				</dir-pagination-controls>
			</div>
		</div>
		
      </div>
    </div>

 </div>
</div>
</div>
<!-- <div id="footer" class="static">
                    
                        <div class="footwrp">
                            <div id="footer-end">
                                Powered by <a href="http://www.valuelabs.com" title="ValueLabs">ValueLabs</a>
                            </div>
                            <div id="footercontact">
                                <span>Contact information:</span> ValueLabs,41 Hitech City. Madhapur-Hyd 500081. Telephone: +040 66239000
                           
                            </div>
                            <div class="clear"></div>
                        </div>
                    
                    <div class="clear"></div>
                </div> -->

</body>
</html>
 