<html>
<head>
    <link rel="shortcut icon" href="/images/vlfavicon.ico"/>
        <link rel="icon" type="image/png" href="/images/vlfavicon.png">
<title>Exit Policy Update App</title>
<style>
.div_style{
height:730px;
 border:1px;
 width:55%;
 margin: auto;
 top:200px;
 background:;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
	margin: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

  .elegantshadow {
    color: #131313;
    background-color: #e7e5e4;
    letter-spacing: .15em;
    text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a, 
 
  }

tr:nth-child(even) {
    background-color:;
}
.shadow2 {
     position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.shadow{
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}
.divVerdana {
font-family: verdana;
}
.background{
background-color: #efefef;
}

.heading { color: ; font-family: 'Raleway', sans-serif;
 font-size: 25px;
  font-weight: lighter;
   letter-spacing: -1px;
    line-height: 1; 
text-align: center; }

</style>

<script language="javascript" type="text/javascript">
window.onpopstate = function (e) { window.history.forward(1); }
document.addEventListener('contextmenu', event => event.preventDefault());

$(document).keydown(function(event){
    if(event.keyCode==123){
    return false;
   }
else if(event.ctrlKey && event.shiftKey && event.keyCode==73){        
      return false;  //Prevent from ctrl+shift+i
   }
});
</script> 


<body onload="noBack();" 
	onpageshow="if (event.persisted) noBack();" onunload="">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<div class="navbar-header">
				<img class="profile-image" src="images/valuelabsLogo.png" alt="">
				<b class="heading elegantshadow">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EXIT POLICY UPDATE</b>
			</div>
		</div>		
	</nav>	
<div class="container">
<!-- starts here -->
	<div class="row hmn wrapper">
	<div class="col-md-7 col-sm-10 col-lg-6 page-container col-md-offset-3 shadow" >
		<div class="col-md-16 col-sm-12 col-lg-12">
			<div class="pln col-md-6 col-sm-6 col-lg-6">
				<p class="employeeName">
					<span class="vl-bold" ng-bind="employeeData.employeeFirstName"></span>
					<span class="vl-bold">{{employeeData.employeeLastName}},</span>
				</p>
				<p class="employeeId vl-bold" ng-bind="employeeData.employeeId"></p>
			</div>
			<div class="col-md-6 col-sm-6 col-lg-6">
				<p class="text-right vl-bold" ng-bind="employeeData.todayDate"></p>
			</div>
		</div>
		<div class="col-md-12 col-sm-12 col-lg-12">
			<p class="text-center vl-bold">Sub: Change of Terms in the Appointment Letter</p>
		</div>
		<div class="col-md-12 col-sm-12 col-lg-12 divVerdana">
			<p>Dear <span class="vl-bold">{{employeeData.employeeFirstName}} {{employeeData.employeeLastName}},</span></p>
			<p>This letter sets out the proposal by {{employeeData.employeeEntity}} to change the terms of your Appointment Letter dated {{employeeData.employeeDOJ}}.</p>
			<p>As a part of normalizing our notice period policy we are making the following changes in the existing notice period clause mentioned in your employment letter.</p>
			<p>The key changes in the clause are as follows:</p>
			<table class="noticePeriodTable divVerdana">
			<thead>
				<tr>
				    <th>Employment type</th>
				    <th>Notice period</th>
				  </tr>
			</thead>
			 <tbody>
			 	<tr>
				    <td>Probationary</td>
				    <td class='divVerdana'>2 months, with an option of 1-month buyout*</td>
				  </tr>
				  <tr>
				    <td>Confirmed</td>
				    <td>3 months, with an option of 1.5-month buyout*</td>
				 </tr>
			 </tbody> 
			  
			
			</table>
			<em class="divVerdana">*Any notice period buyout will be subject to approval by your Manager and the HR</em>
			<p class="ptl divVerdana">All other terms of your contract of employment are not affected and remain in full force and effect.</p>
			<p class="vl-bold divVerdana">Read and Accepted</p>

			<p class="mlm divVerdana">Name and Employee ID: <span>{{employeeData.employeeFirstName}}, {{employeeData.employeeId}}</span></p>
			<p class="mlm divVerdana">Date: <span>{{employeeData.todayDate}}</span></p>
		</div>
		<div class="col-md-12 col-sm-12 col-lg-12">
			<footer class="text-center">				
				<button data-toggle="modal" ng-click="agreeModal" data-target="#agreeModal" type="button" class="btn btn-info">Agree</button> 
			</footer>
		</div>
		</div>
		</div>
		<div class="modal fade" id="agreeModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header list-group-item active">
						Agreement
					</div>
					<div class="modal-body divVerdana">
						Thank You for accepting the change of terms in your appointment letter. Please check your email for a copy of the amended document
					</div>
					<div class="modal-footer">
						<button ng-click="logout()" type="button" class="btn btn-info">OK</button>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
<!-- ends here -->
 
	
</body>
</body>
</html>