
<html>
 <style>
 .shadow {
     position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.heading { color: #111; font-family: 'Raleway', sans-serif;
 font-size: 20px;
  font-weight: lighter;
   letter-spacing: -1px;
    line-height: 1; 
text-align: center; }

  .elegantshadow {
    color: #131313;
    background-color: #fffff;
    letter-spacing: .13em;
    text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a, 
 
  }

</style>
<body>
	<div class="fadeMe">
		<div class="container " style="margin-top: 150px">
			<div class="row">
				<div class="col-sm-10 col-md-4 col-md-offset-4">
					<div class="panel panel-default">

						<div class="panel-body" class="shadow">
							<form role="form" ng-submit="formSubmit()" method="POST">
								<fieldset>
									<div class="row">
										<div class="center-block">
											<img class="profile-img" src="images/valuelabs-logo.gif"
												alt="">
											<div class="headTitle">
												<h5>
													<b class="titleFont heading elegantshadow"">Exit Policy Update</b>
												</h5>
											</div>
										</div>
									</div>
									<div class="row formPage">
										

											<div class="col-sm-20 col-md-10  col-md-offset-1 ">
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"> <i
															class="glyphicon glyphicon-home"></i>
														</span> <select class="form-control" name="domain" id="domain"
															ng-model="domain" required="">
															<option value="">---Please select---</option>
															<option value="corp">Corporate / Head Office</option>
															<option value="lsz">ValueLabs SEZ</option>
															<option value="SLS">ValueLabs Solutions</option>
															<option value="T02">ValueLabs Technologies Unit	- 2</option>
															<option value="T03">ValueLabs Technologies Unit - 3</option>
															<option value="TLP">ValueLabs Technologies - LLP</option>
														</select><br>
													</div>
												</div>
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"> <i
															class="glyphicon glyphicon-user"></i>
														</span> <input class="form-control" ng-model="username"
															required="" placeholder="Username" type="text" autofocus>
													</div>
												</div>
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"> <i
															class="glyphicon glyphicon-lock"></i>
														</span> <input class="form-control" ng-model="password"
															required="" placeholder="Password" type="password"
															value="">
													</div>
												</div>
												<div class="form-group">
													<input type="submit"
														class="btn btn-lg btn-primary btn-block" value="Sign in">
													<span class="text-danger">{{ error }}</span>

												</div>
											
										</div>
								</fieldset>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>

