
<!DOCTYPE html>
<html lang="en">
       <link rel="shortcut icon" href="images/vlfavicon.png"/>
<head>
  <title>Notice Period Tool</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style>
 body {
  margin: 2em;
}
div.static {
  background: #e0f2f7;
  position: absolute;
  bottom: 0;
  width: 100%;: absolute;
  right: 0;
}
</style>
<script type="text/javascript" language="javascript">
window.onpopstate = function (e) { window.history.forward(1); }
document.addEventListener('contextmenu', event => event.preventDefault());

$(document).keydown(function(event){
    if(event.keyCode==123){
    return false;
   }
else if(event.ctrlKey && event.shiftKey && event.keyCode==73){        
      return false;  //Prevent from ctrl+shift+i
   }
});
</script> 

</head>
<body>


	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<div class="navbar-header">
				<img class="profile-image" src="images/valuelabsLogo.png" alt="">
				<b
					style="padding-left: 15px; border-left: 1px solid #ccc; font-size: 19px">
					EXIT POLICY UPDATE</b>
			</div>
		</div>		
	</nav>	
		<button data-toggle="modal" ng-click="logout()" type="button" style="position: static;" class="btn btn-info pull-right">Logout</button></br>
<div class = "container-fluid">


<hr>
  <h1>Employees data and Statistics </h1>
  <p>List of Employee nomination towards notice period clause changes</p>

 <div class="list-group">
   <p href="#" class="list-group-item active">
     Categories
   </p>
   <p class="list-group-item">Number of Employees Accepted the Notice Period Clause &nbsp;&nbsp;<a href="/eAccept/downloadReport/true" download> Download Accepted Employees Report</a>  <span class = "badge pull-right"> {{employeeCounts.acceptedEmployeesCount}}</span> <a href="#" class="pull-right" ng-click="showEmployees(true)">Show Employees&nbsp;&nbsp;</a></p> 
   <p class="list-group-item">Number of Employees had NO ACTION on the Notice Period Clause &nbsp;&nbsp;<a href="/eAccept/downloadReport/false" download> Download No Action Employees Report</a>  <span class = "badge pull-right">{{employeeCounts.noActionEmployeesCount}}</span> <a href="#"  class="pull-right"  ng-click="showEmployees(false)">Show Employees&nbsp;&nbsp; </a></p>
</br>
</br>
<button data-toggle="modal" data-target="#sendEmailModal" type="button" class="btn btn-info">Send Email to Not Accepted Employees</button>
<div class="modal fade" id="sendEmailModal" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header list-group-item active">
								Confirm
							</div>
							<div class="modal-body">
								Once you click Send Email an email will be triggered to all Employees who have not accepted yet.
							</div>
							<div class="modal-footer">
								<button ng-click="sendEmailToNotAccepted()" type="button" data-dismiss="modal" class="btn btn-info">Send Email</button>
							</div>
						</div>
					</div>
				</div>
 </div>
</div>
</div>

                
                
		
	

</body>
</html>
 